@page
@model BikeToWork.Pages.BikeRides.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BikeRide</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="bikeRide.date" class="control-label"></label>
                <input asp-for="bikeRide.date" class="form-control" />
                <span asp-validation-for="bikeRide.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bikeRide.participantId" class="control-label">Name of participant</label>
                <select asp-for="bikeRide.participantId" class="form-control">
                    <option>---Select registered participant---</option>
                    @foreach (var person in Model.listOfParticipants)
                    {
                        <option value="@person.id">@(person.firstName + " " + person.lastName)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="bikeRide.Distance" class="control-label"></label>
                <input asp-for="bikeRide.Distance" class="form-control" />
                <span asp-validation-for="bikeRide.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
