@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/Bikes.gif" style="max-height: 450px; max-width: 100%" />
    <h1 class="display-4">Welcome to <strong>Bike To Work</strong></h1>
</div>
